
.part-tese{height:500px;}
.content-part{width:1200px;}
.content-part.show .content-title{opacity:1;transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);transition:all 1s;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s}
.part-tese .content-title{background:url(../images/yys_tese_title.png) no-repeat center}
.content-part .content-title{opacity:0;transform:translateY(50px);-ms-transform:translateY(50px);-webkit-transform:translateY(50px);-moz-transform:translateY(50px);-o-transform:translateY(50px)}
.content-part .content-title{position:absolute;width:650px;height:263px;top:0;left:50%;margin-left:-325px}
.part-tese .shadow{position:absolute;width:1014px;height:190px;bottom:0;left:50%;margin-left:-507px;background:url(../images/yys_tese_shadow.png)}
.part-tese.show .gallery_container{opacity:1;transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);transition:all 1s .1s;-webkit-transition:all 1s .1s;-moz-transition:all 1s .1s;-o-transition:all 1s .1s}
.part-tese .gallery_container{position:absolute;width:1000px;height:550px;top:110px;left:50%;margin-left:-500px}
.part-tese .gallery_container.st02{top:800px}
.part-tese .gallery_container{opacity:0;transform:translateY(200px);-ms-transform:translateY(200px);-webkit-transform:translateY(200px);-moz-transform:translateY(200px);-o-transform:translateY(200px)}
.gallery_container{position:absolute;top:0;left:0}
.part-tese .gallery_container .gallery_wrap{width:720px;height:350px}
.gallery_container .gallery_wrap{width:320px;height:474px}
.threeD_gallery_wrap{position:absolute;left:50%;top:50%;-webkit-perspective:1000px;-moz-perspective:1000px;-ms-perspective:1000px;perspective:1000px}
.front_side{z-index:5;-webkit-transform:rotateY(0) translateX(0) translateZ(0);-moz-transform:rotateY(0) translateX(0) translateZ(0);-ms-transform:rotateY(0) translateX(0) translateZ(0);-o-transform:rotateY(0) translateX(0) translateZ(0);transform:rotateY(0) translateX(0) translateZ(0)}
.threeD_gallery_item{position:absolute;width:100%;height:100%;cursor:pointer;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-ms-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}
.part-tese .gallery_right_middle{z-index:3;transform:rotateY(-30deg) translateX(200px) translateZ(-300px) scale(.6);-ms-transform:rotateY(-30deg) translateX(200px) translateZ(-300px) scale(.6);-webkit-transform:rotateY(-30deg) translateX(200px) translateZ(-300px) scale(.6);-moz-transform:rotateY(-30deg) translateX(200px) translateZ(-300px) scale(.6);-o-transform:rotateY(-30deg) translateX(200px) translateZ(-300px) scale(.6)}
.gallery_right_middle{z-index:3;-webkit-transform:rotateY(-55deg) translateX(90px) translateZ(-364px) scale(.95);-moz-transform:rotateY(-55deg) translateX(90px) translateZ(-364px) scale(.95);-ms-transform:rotateY(-55deg) translateX(90px) translateZ(-364px) scale(.95);-o-transform:rotateY(-55deg) translateX(90px) translateZ(-364px) scale(.95);transform:rotateY(-55deg) translateX(90px) translateZ(-364px) scale(.95)}
.gallery_out{-webkit-transform:rotateY(0) translateX(0) translateZ(0) scale(.6);-moz-transform:rotateY(0) translateX(0) translateZ(0) scale(.6);-ms-transform:rotateY(0) translateX(0) translateZ(0) scale(.6);-o-transform:rotateY(0) translateX(0) translateZ(0) scale(.6);transform:rotateY(0) translateX(0) translateZ(0) scale(.6);z-index:-1;opacity:0!important}
.part-tese .gallery_left_middle{z-index:3;transform:rotateY(30deg) translateX(-200px) translateZ(-300px) scale(.6);-ms-transform:rotateY(30deg) translateX(-200px) translateZ(-300px) scale(.6);-webkit-transform:rotateY(30deg) translateX(-200px) translateZ(-300px) scale(.6);-moz-transform:rotateY(30deg) translateX(-200px) translateZ(-300px) scale(.6);-o-transform:rotateY(30deg) translateX(-200px) translateZ(-300px) scale(.6)}
.gallery_left_middle{z-index:3;-webkit-transform:rotateY(55deg) translateX(-90px) translateZ(-364px) scale(.95);-moz-transform:rotateY(55deg) translateX(-90px) translateZ(-364px) scale(.95);-ms-transform:rotateY(55deg) translateX(-90px) translateZ(-364px) scale(.95);-o-transform:rotateY(55deg) translateX(-90px) translateZ(-364px) scale(.95);transform:rotateY(55deg) translateX(-90px) translateZ(-364px) scale(.95)}
.part-tese .gallery_container .gallery_wrap img{width:100%;box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);}
.gallery_container .gallery_item img.show{visibility:visible}
.gallery_container .gallery_item img{width:100%;height:100%;visibility:hidden}
.part-tese .gallery_container .gallery_wrap .line-b,.part-tese .gallery_container .gallery_wrap .line-l,.part-tese .gallery_container .gallery_wrap .line-r,.part-tese .gallery_container .gallery_wrap .line-t{position:absolute;background:#fff}
.part-tese .gallery_container .gallery_wrap .front_side .line-t{width:700px;transition:all .2s .2s;-webkit-transition:all .2s .2s;-moz-transition:all .2s .2s;-o-transition:all .2s .2s}
.part-tese .gallery_container .gallery_wrap .line-t{height:1px;width:0;top:10px;left:10px}
.part-tese .gallery_container .gallery_wrap .front_side .line-r{height:330px;transition:all .2s .4s;-webkit-transition:all .2s .4s;-moz-transition:all .2s .4s;-o-transition:all .2s .4s}
.part-tese .gallery_container .gallery_wrap .line-r{width:1px;height:0;right:10px;top:10px}
.part-tese .gallery_container .gallery_wrap .front_side .line-b{width:700px;transition:all .2s .6s;-webkit-transition:all .2s .6s;-moz-transition:all .2s .6s;-o-transition:all .2s .6s}
.part-tese .gallery_container .gallery_wrap .line-b{height:1px;width:0;bottom:10px;right:10px}
.part-tese .gallery_container .gallery_wrap .front_side .line-l{height:330px;transition:all .2s .8s;-webkit-transition:all .2s .8s;-moz-transition:all .2s .8s;-o-transition:all .2s .8s}
.part-tese .gallery_container .gallery_wrap .line-l{width:1px;height:0;left:10px;bottom:10px}
.gallery_container .prev{left: 0;}
.gallery_container .next{right: 0;}
.gallery_container .prev,.gallery_container .next{position: absolute;top: 15px;width: 140px;height: 350px;z-index:99;}
//头部
.squirrel-top-head{
  height: 100%;
  width: 1200px;
  margin: auto;
}
.squirrel-top-search{
  display: inline-block;
  float: right;
}
.squirrel-input{
  margin-top: 15px;
  border: 1px solid #cde3a5;
  border-radius: 5px;
  box-sizing: border-box;
  height: 34px;
  overflow: hidden;
}
.squirrel-top-input{
  width: 150px;
  color: #333;
  background-color: #fff;
  outline: none;
  padding-left: 30px;
  float: left;
  border: none;
}
.squirrel-top-btn{
  float: right;
  background-color: #cde3a5;
  color: #fff;
  width: 50px;
  border: none;
  outline: none;
}
.squirrel-top-login{
  list-style-type: none;
  float: left;
  li{
    display: inline-block;
    float: none;
    &:first-child::before{
      content: '';
      display: inline-block;
      width: 26px;
      height: 26px;
      vertical-align: middle;
      margin-top: -4px;
      background: url("../img/icon/login.svg") no-repeat center/contain;
    }
    a{
      display: inline-block;
    }
  }
}
.release-btn{
  color: #333;
  display: inline-block;
  padding-left: 30px;
  font-size: 14px;
  &::before{
    content: '';
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: -4px;
    background: url("../img/icon/release.svg") no-repeat center/contain;
  }
  a{
    display: inline-block;
    padding: 0;
  }
}
.squirrel-publish-btn{
  float: left;
  margin-top: 15px;
  width: 130px;
  height: 32px;
  background-color: #cde3a5;
  border-radius: 5px;
  color: #fff;
  margin-left: 10px;
  a{
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #fff;
    line-height: 36px;
    float: right;
    font-size: 13px;
  }
  &:hover a{
    color: #cde3a5;
  }
}
.header .squirrel-publish-btn a{
  color: #fff;
}

.squirrel-index-head{
  width: 100%;
}
.sidebar.squirrel-nav{
  position: relative;
  top: 0;
  width: 100%;
  background-color: #cde3a5;
  box-shadow: none;
  color: #333333;
}
.squirrel-nav-list{
  list-style-type: none;
  display: flex;
  justify-content: center;
  .nav-now{
    background-color: $main-color;
    a {
      position: relative;
      color: #fff;
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 8px;
        left: -10%;
        width: 120%;
        height: 6px;
        background-color: #fff;
        border-radius: 3px;
      }
    }
  }
  li {
    height: 64px;
    position: relative;
    display: inline-block;
    float: none;
    box-sizing: border-box;
    padding: 0 30px;
    a {
      color: #333333;
      padding: 0;
    }
    &:hover {
      background-color: $main-color;
      a {
        position: relative;
        color:  #fff;
        &:after{
          content: '';
          display: inline-block;
          position: absolute;
          bottom: 8px;
          left: -10%;
          width: 120%;
          height: 6px;
          background-color: #fff;
          border-radius: 3px;
        }
      }
    }
  }
}
.squirrel-index-content{
  width: 100%;
  background-color: #FBFBF3;
  padding-bottom: 30px;
}
.index-item-title{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  h3{
    text-align: center;
    line-height: 20px;
  }
  &::before{
    top: 50%;
    left: 0;
    content: '';
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: #cde3a5;
  }
  &::after{
    top: 50%;
    right: 0;
    content: '';
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: #cde3a5;
  }
}

//第一part轮播图
//最新资讯
.index-latest-title{
  &::before{
    top: 50%;
    left: 0;
    content: '';
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: transparent;
  }
  &::after{
    top: 50%;
    right: 0;
    content: '';
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: transparent;
  }
}
.swiper-container {
  width: 100%;
  height: 200px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.latest-slide{
  a{
    display: inline-block;
    width: 100%;
    height: 198px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 1px solid #b7b7b7;
    img{
      width: 100%;
      height: 100%;
    }
  }
}

//第二part
.index-part-second{
  padding-top: 50px;
  width: 730px;
  margin: auto;
}
.index-second-content{
  display: flex;
  flex-wrap: wrap;
  height: 520px;
  flex-direction: column;
}
.index-second-item{
  width: 230px;
  display: inline-block;
  height: 250px;
  margin: 5px;
  background-color: #b7b7b7;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  overflow: hidden;
  &:last-child{
    display: none;
  }
  &:nth-child(3){
    height: 510px;
  }
  a {
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
    }
  }
}

//美妆好物
.beauty-swiper-container{
  width: 100%;
  overflow: hidden;
}
.beauty-slide{
  a {
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    border: 1px solid #b7b7b7;
    img {
      width: 100%;
      height: 150px;
    }
  }
}
.beauty-slide-name{
  padding: 8px 0 4px;
  width: 100%;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: #333;
}
.beauty-slide-in{
  padding: 4px 0 10px;
  width: 100%;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: #333;
  color: darkolivegreen;
}
.squirrel-footer{
  height: 150px;
  width: 100%;
  background-color: $main-color;
}

//登录
.login-reg-container{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  .mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 1;
  }
}
.squirrel-login-container{
  position: relative;
  z-index: 9999;
  width: 400px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 20%;
  border-radius: 10px;
  padding-top: 50px;
  background: #e7f4de;
  &::before{
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  .exit{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    font-weight: 500;
    width: 50px;
    height: 49px;
    cursor: pointer;
    z-index: 11;
  }
  .form-input{
    width: 360px;
    margin-left: 20px;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    padding-left: 60px;
    border: 0;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 15px center;
    background-color: #fff !important;
  }
  .form-btn{
    background-color: #cde3a5;
    margin: auto;
    width: 360px;
    margin-left: 20px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: 0;
  }
  .go-regist{
    height: 45px;
    line-height: 45px;
    text-align: center;
    a{
      color: #cde3a5;
      cursor: pointer;
    }
  }
  .login-phone{
    background-image: url("../img/icon/login_phone.svg") !important;
  }
  .login-password{
    background-image: url("../img/icon/login_pas.svg") !important;
  }
  .login-name{
    background-image: url("../img/icon/reg_user.svg") !important;
  }
}
.squirrel-login::before{
  background: #fff url("../img/icon/login_head.svg") no-repeat center/contain;
  border-radius: 50%;
}
.squirrel-regist::before{
  background: #fff url("../img/icon/reg_head.svg") no-repeat center/contain;
  border-radius: 10px;
}
.squirrel-change-name{
  padding-bottom: 30px;
  h3{
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    position: absolute;
    top: 8px;
    width: 100%;
  }
}